<!-- Primary Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>8chat anlık olarak konuşabileceğin GÜVENLİ bir site</title>
<meta name="title" content="Anlık olarak konuşabileceğin GÜVENLİ bir site">
<meta name="description"
  content="8chat istediğin kişiyle anlık ve GÜVENLİ bir şekilde konuşmanı sağlayan bir site. Hemen denemeye ne dersin?">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://sekizchat.herokuapp.com/">
<meta property="og:title" content="Anlık olarak konuşabileceğin GÜVENLİ bir site">
<meta property="og:description"
  content="8chat istediğin kişiyle anlık ve GÜVENLİ bir şekilde konuşmanı sağlayan bir site. Hemen denemeye ne dersin?">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sekizchat.herokuapp.com/">
<meta property="twitter:title" content="Anlık olarak konuşabileceğin GÜVENLİ bir site">
<meta property="twitter:description"
  content="8chat istediğin kişiyle anlık ve GÜVENLİ bir şekilde konuşmanı sağlayan bir site. Hemen denemeye ne dersin?">
<meta property="twitter:image" content="">