<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="csss/style.css" />
	<script src="/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="https://kit.fontawesome.com/a6c49e9ad1.js" crossorigin="anonymous"></script>
	<style>
		.message-content {
			background-color: rgb(8, 24, 39);
		}
	</style>
</head>

<body>

	<div class="chat">
		<div class="sidebar">
			<div class="search">
				<input type="text" placeholder="Ara..">
				<i class="fa fa-search"></i>
			</div>
			<div class="contacts">
				<ul>
					<li>
						<a href="#">
							<img src="https://picsum.photos/id/198/300/400" alt="">
							<div class="contact">
								<div class="name">Black Eyed Peas</div>
								<div class="message">Merhaba, bu bir test mesajıdır..</div>
							</div>
							<div class="notification"></div>
						</a>
					</li>
					<li class="active">
						<a href="#">
							<img src="https://picsum.photos/id/198/300/400" alt="">
							<div class="contact">
								<div class="name">Black Eyed Peas</div>
								<div class="message">Merhaba, bu bir test mesajıdır..</div>
							</div>
							<div class="notification">3</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="message-header">
				<div class="user-info">
					<img src="https://picsum.photos/id/198/300/400" alt="">
					<div class="user">
						<div class="name">
							<%= (locals.username)? 'Hoşgeldin, ' +username: 'Hoşgeldin.' %>
						</div>
						<div class="time"></div>
					</div>
				</div>
				<div class="actions">
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-info-circle"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-ellipsis-v"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="message-content" class="message-content">
				<!--
				<div class="message">
					<div class="bubble">
						yapılanlar:
					</div>
					<div class="time">22:01</div>
				</div>
				<div class="message me">
					<div class="bubble">
						mesaj gönderme
					</div>
					<div class="time">22:02</div>
				</div>
			-->

			</div>
			<div class="message-form">
				<ul>
					<li class="emoji-btn">
						<a href="#">
							<i class="fa fa-laugh"></i>
						</a>
					</li>
					<li class="input">
						<input autocapitalize="ture" autocomplete="0" autofocus type="text" id="comment"
							placeholder="Bir şeyler yaz..">
						<a href="#" class="sendbtn" id="sendbtn">
							<i class="fas fa-paper-plane"></i>
						</a>
					</li>
					<li class="sound-btn">
						<a href="#">
							<i class="fa fa-microphone"></i>
						</a>
					</li>
					<li class="image-btn">
						<a href="#">
							<i class="fa fa-image"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="alertbox" style="position: fixed; top: 50px;left: 50px">
	</div>

	<script src="/socket.io/socket.io.js"></script>

	<script>
		var socket = null;
		var isme = false;
		var asd = 1;
		$(document).ready(function () {
			socket = io();
			$('#comment').keydown(function (e) {
				var key = e.keyCode;
				if (key == 13) {
					sendmsg()
				}
				else {
					if ($('#alertbox').css('display') == 'none') {
						$('#alertbox').html('<h6 class="alert alert-warning">You should write a message</h6>');
						$('#alertbox').show(500).delay(1000).hide(500);
					}
				}
			})
			$("#sendbtn").click(function () {
				sendmsg()
			});

			socket.on('refresh feed', ({ text, user }) => {
				var dt = new Date();
				var time = dt.getHours() + ":" + dt.getMinutes();

				var audio = {};
				var audioElement = document.createElement('audio');
				audioElement.setAttribute('src', '/sounds/bellsound.mp3');

				isTabFocused = document.hasFocus();
				console.log('tab status', isTabFocused);
				if (isme) {
					text = '<div class="message me"><div class="bubble"><div class="username">' + user + '</div>' + text + '</div><div class="time">' + time + '</div></div>';
				}
				else {
					if (!isTabFocused) {
						audioElement.play();
					}
					text = '<div class="message"><div class="bubble"><div class="username">' + user + '</div>' + text + '</div><div class="time">' + time + '</div></div>';
				}
				isme = false
				$("#message-content").append(text);

				// console.log('appended div =>', text);
				lastheight = $(".message").last().height();
				console.log('last =>', (lastheight * asd * 2));
				$('#message-content').animate({ scrollTop: (lastheight * asd * 2) }, 'fast');

				asd++;
				$('#comment').val('');
			});
		});

		function sendmsg() {
			var msg = $("#comment").val();
			msg = msg.trim();
			if (msg.length > 0) {
				socket.emit('me', { 'text': msg });
				isme = true
				$('#sendbtn').hide(200);
			}
			else {
				if ($('#alertbox').css('display') == 'none') {
					$('#alertbox').html('<h6 class="alert alert-warning">You should write a message</h6>');
					$('#alertbox').show(500).delay(1000).hide(500);
				}
			}
		}

		// $("#message-content").on('click', () => {
		// 	isfocused = $('#comment').is(':focus');
		// 	if (!isfocused) {
		// 		$('#comment').focus();
		// 	}
		// })

		$('#comment').keyup(function () {
			if ($('#sendbtn').css('display') == 'block') {
				if ($('#comment').val().length <= 0) {
					$('#sendbtn').hide(200)
				}
			} else {
				if ($('#comment').val().length > 0) {
					$('#sendbtn').show(200)
				} else {
					$('#sendbtn').hide(200)
				}
			}
		})
	</script>

</body>

</html>