<html lang="tr">

<head>
	<%- include('inc/metatags.ejs'); -%>
		<title>Hemen bir isim yaz ve GÜVENLİ bir şekilde sohbet et.</title>
		<script src="/jquery/jquery.min.js"></script>
		<link rel="stylesheet" href="/bootstrap/bootstrap.css">
		<style>
			body {
				padding: 15px 10px;
				background-color: rgb(8, 24, 39);
				color: whitesmoke;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.form-group {
				margin: 0px;
			}

			.form-group table tr td {
				display: inline-block;
				margin-right: 10px !important;
			}
		</style>
</head>

<body>
	<form action="/login" method="POST">
		<div class="form-group">
			<table>

				<%- (locals.message) ? '<div class="alert alert-warning">' +message+'</div>' : '' %>
					<tr>
						<td><input type="text" class="form-control" name="username" id="username" placeholder="Bir isim yaz ve"></td>
						<td><input class="btn btn-primary" type="submit" name="login" value="Sohbete başla" id="login"></td>
					</tr>
			</table>
		</div>
	</form>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>